<div class="question-reponse">
	<h3 class="questions">Question <%= params[:id] %> : <%= @interro %></h3>
<!-- 	<p class="question"><%= @interro %></p>
 -->	<section class="reponses">
		<% @choices.each do |choice| %>
			<a class="reponse" href="<%= @next %>" onclick='check_answer(this.innerHTML, "<%= @good_answer %>")'><%= choice %></a>
		<% end %>
	</section>
</div>
