<div class="question-reponse">
	<h3 class="question">Question <%= params[:id] %>:</h3>
		<p><%= @question.text %></p>
	<h3 class="reponse">Réponses</h3>
		<a class="button g" href="<%= @next %>"  onclick='check_answer(this.innerHTML, "<%= @answers.good_answer %>")'><%= @answers.good_answer %></a>
		<a class="button b" href="<%= @next %>"  onclick='check_answer(this.innerHTML, "<%= @answers.good_answer %>")'><%= @answers.bad_answers %></a>
</div>
